## Inicio del programa

In [30]:
import pandas as pd
from IPython.display import display
from IPython.display import Image
import unicodedata
import codecs
import pprint

## Se cargan los archivos para la primera parte de la actividad

In [31]:
f = open("FicheroALeer.txt",'r')
outfile = open("resultado.txt",'w')
lines = f.readlines()

### Metodo para eliminar tildes

In [32]:
def eliminaTildes(s):
    return ''.join((c for c in unicodedata.normalize('NFD',s) if unicodedata.category(c)!='Mn'))

#### Se declaran las variables necesarias para la actividad de la primera parte

In [33]:
word='el'
a = []
count = 0

#### Se realiza el conteo del articulo 'el', en el archivo

In [34]:
for line in lines:
    palabras = line.split(' ')
    for p in palabras:
        if p == word:
            count += 1
repetidas = "El articulo 'el' se repite: " + str(count) +" veces"

#### Se obtiene el conteo de lineas del archivo, y finalmente se escribe nuevamente el archivo con los requerimientos: sin tildes y en minuscula

In [35]:
tamano = "El tamano del archivo es de: " + str(len(lines))
outfile.write(tamano+'\n')
outfile.write(repetidas+'\n')
for line in lines:
    b = eliminaTildes(line)
    b = b.lower()
    a.append(b)
    outfile.write(str(b))
outfile.close()
f.close()

## Segunda parte de la actividad
### Se carga el fichero poblacionMunicipios

In [36]:
archivo_1 = pd.read_csv('poblacionMunicipios.csv')

### Se eliminan las filas que en poblacion contengan 0 habitantes

In [37]:
for v in archivo_1.Poblacion:
    if(v==0):
        archivo_1.drop(archivo_1.Poblacion[v],inplace=True)

### Se dibuja en un Dataframe el total de habitantes por provincia

In [38]:
sum_pob = archivo_1['Poblacion'].groupby(archivo_1['Provincia']).sum()
df_suma = pd.DataFrame(data=sum_pob)
df_suma

                        Poblacion
Provincia
Albacete                   402837
Alicante/Alacant          1943910
Almería                    704219
Araba/Álava                322557
Asturias                  1077360
Badajoz                    694533
Balears, Illes            1119439
Barcelona                 5552050
Bizkaia                   1158439
Burgos                     374970
Cantabria                  593861
Castellón/Castelló         604564
Ceuta                       84018
Ciudad Real                530250
Coruña, A                 1143911
Cuenca                     218036
Cáceres                    413597
Cádiz                     1245164
Córdoba                    804498
Gipuzkoa                   712097
Girona                     761627
Granada                    922928
Guadalajara                259356
Huelva                     522862
Huesca                     227609
Jaén                       670242
León                       494451
Lleida                     443032
Lugo                       348902
Madrid                    6498560
Melilla                     80802
Murcia                    1474449
Málaga                    1641098
Navarra                    644566
Ourense                    330257
Palencia                   170713
Palmas, Las               1100813
Pontevedra                 958428
Rioja, La                  323609
Salamanca                  350564
Santa Cruz de Tenerife    1017531
Segovia                    163701
Sevilla                   1938974
Soria                       94522
Tarragona                  814199
Teruel                     143728
Toledo                     711228
Valencia/València         2580792
Valladolid                 534280
Zamora                     191612
Zaragoza                   978130
mentira                         0
Ávila                      171265

### Se calculan las estadísticas de la poblacion para obtener la desviación tipica

In [39]:
estadistica = archivo_1['Poblacion'].groupby(archivo_1['Provincia']).describe()
desviacion=pd.DataFrame(data=estadistica,columns=["std","count"])
union = pd.concat([sum_pob, desviacion], axis=1)
union.rename(columns={'Poblacion': 'Poblacion Total','std': 'Desviacion Standar','count': 'Cantidad de Municipios'}, inplace=True)
union

,Poblacion Total,Desviacion Standar,Cantidad de Municipios
Provincia,,,
Albacete,402837,18969.349858,87.0
Alicante/Alacant,1943910,36975.788257,141.0
Almería,704219,22487.718633,102.0
Araba/Álava,322557,33817.226014,51.0
Asturias,1077360,41147.126270,78.0
Badajoz,694533,13342.124838,164.0
"Balears, Illes",1119439,49996.304259,67.0
Barcelona,5552050,96056.918824,311.0
Bizkaia,1158439,35707.908497,112.0
Burgos,374970,9698.775957,371.0
Cantabria,593861,18843.119729,102.0
Castellón/Castelló,604564,17042.831158,135.0
Ceuta,84018,NaN,1.0
Ciudad Real,530250,10803.043811,102.0
"Coruña, A",1143911,27982.226454,94.0
Cuenca,218036,3962.784986,238.0
Cáceres,413597,7177.195707,221.0
Cádiz,1245164,42960.570517,44.0
Córdoba,804498,38009.693029,75.0
Gipuzkoa,712097,21383.246741,88.0
Girona,761627,9130.611346,221.0
Granada,922928,19390.305650,168.0
Guadalajara,259356,5558.419431,287.0
Huelva,522862,17371.059504,79.0
Huesca,227609,4336.196841,202.0
Jaén,670242,14273.064340,97.0
León,494451,10494.940778,211.0
Lleida,443032,9433.374796,231.0
Lugo,348902,12168.690296,67.0
Madrid,6498560,243525.893567,179.0
Melilla,80802,NaN,1.0
Murcia,1474449,71125.861089,45.0
Málaga,1641098,59765.081635,101.0
Navarra,644566,12406.770290,272.0
Ourense,330257,11308.708402,92.0
Palencia,170713,5935.835991,191.0
"Palmas, Las",1100813,65402.298816,34.0
Pontevedra,958428,38384.637513,62.0
"Rioja, La",323609,11873.008560,174.0
Salamanca,350564,8108.414712,362.0
Santa Cruz de Tenerife,1017531,35480.885197,54.0
Segovia,163701,3936.693667,209.0
Sevilla,1938974,69386.307997,105.0
Soria,94522,3044.797357,183.0
Tarragona,814199,13723.157007,184.0
Teruel,143728,2653.861043,236.0
Toledo,711228,8916.109243,204.0
Valencia/València,2580792,49881.998275,266.0
Valladolid,534280,20872.260056,225.0
Zamora,191612,4343.453588,248.0
Zaragoza,978130,39719.154129,293.0
mentira,0,NaN,1.0
Ávila,171265,3844.412916,248.0

### Se carga segundo archivo para relacionar y se cruzan

In [40]:
archivo_2=pd.read_csv('CP_Municipios.csv')
cruce_archivos =pd.merge(archivo_1, archivo_2, on=['CodProvincia','CodMunicipio'],how='inner')
cruce_archivos

,CodProvincia,Provincia,CodMunicipio,Municipio_x,Poblacion,CP,Municipio_y
0,1,Araba/Álava,1,Alegría-Dulantzi,2869,1240,Alegría-Dulantzi
1,1,Araba/Álava,1,Alegría-Dulantzi,2869,1193,Alegría-Dulantzi
2,1,mentira,1,mentira,0,1240,Alegría-Dulantzi
3,1,mentira,1,mentira,0,1193,Alegría-Dulantzi
4,1,Araba/Álava,2,Amurrio,10114,1450,Amurrio
5,1,Araba/Álava,2,Amurrio,10114,1468,Amurrio
6,1,Araba/Álava,2,Amurrio,10114,1470,Amurrio
7,1,Araba/Álava,3,Aramaio,1513,1160,Aramaio
8,1,Araba/Álava,3,Aramaio,1513,1165,Aramaio
9,1,Araba/Álava,3,Aramaio,1513,1169,Aramaio
10,1,Araba/Álava,4,Artziniega,1861,1474,Artziniega
11,1,Araba/Álava,4,Artziniega,1861,1478,Artziniega
12,1,Araba/Álava,6,Armiñón,231,1211,Armiñón
13,1,Araba/Álava,6,Armiñón,231,1220,Armiñón
14,1,Araba/Álava,8,Arrazua-Ubarrundia,983,1510,Arratzua-Ubarrundia
15,1,Araba/Álava,8,Arrazua-Ubarrundia,983,1520,Arratzua-Ubarrundia
16,1,Araba/Álava,9,Asparrena,1698,1250,Asparrena
17,1,Araba/Álava,9,Asparrena,1698,1260,Asparrena
18,1,Araba/Álava,9,Asparrena,1698,1208,Asparrena
19,1,Araba/Álava,10,Ayala/Aiara,2918,1408,Ayala/Aiara
20,1,Araba/Álava,10,Ayala/Aiara,2918,1470,Ayala/Aiara
21,1,Araba/Álava,10,Ayala/Aiara,2918,1476,Ayala/Aiara
22,1,Araba/Álava,10,Ayala/Aiara,2918,1477,Ayala/Aiara
23,1,Araba/Álava,10,Ayala/Aiara,2918,1478,Ayala/Aiara
24,1,Araba/Álava,10,Ayala/Aiara,2918,1479,Ayala/Aiara
25,1,Araba/Álava,11,Baños de Ebro/Mañueta,317,1307,Baños de Ebro/Mañueta
26,1,Araba/Álava,13,Barrundia,908,1206,Barrundia
27,1,Araba/Álava,13,Barrundia,908,1208,Barrundia
28,1,Araba/Álava,14,Berantevilla,480,1211,Berantevilla
29,1,Araba/Álava,14,Berantevilla,480,1220,Berantevilla
...,...,...,...,...,...,...,...
14687,50,Zaragoza,297,Zaragoza,679624,50005,Zaragoza
14688,50,Zaragoza,297,Zaragoza,679624,50006,Zaragoza
14689,50,Zaragoza,297,Zaragoza,679624,50007,Zaragoza
14690,50,Zaragoza,297,Zaragoza,679624,50004,Zaragoza
14691,50,Zaragoza,297,Zaragoza,679624,50009,Zaragoza
14692,50,Zaragoza,297,Zaragoza,679624,50011,Zaragoza
14693,50,Zaragoza,297,Zaragoza,679624,50012,Zaragoza
14694,50,Zaragoza,297,Zaragoza,679624,50013,Zaragoza
14695,50,Zaragoza,297,Zaragoza,679624,50014,Zaragoza
14696,50,Zaragoza,297,Zaragoza,679624,50015,Zaragoza
14697,50,Zaragoza,297,Zaragoza,679624,50016,Zaragoza
14698,50,Zaragoza,297,Zaragoza,679624,50017,Zaragoza
14699,50,Zaragoza,297,Zaragoza,679624,50008,Zaragoza
14700,50,Zaragoza,298,Zuera,7738,50800,Zuera
14701,50,Zaragoza,298,Zuera,7738,50830,Zuera
14702,50,Zaragoza,298,Zuera,7738,50810,Zuera
14703,50,Zaragoza,901,Biel,168,50619,Biel
14704,50,Zaragoza,902,Marracos,106,50616,Marracos
14705,50,Zaragoza,903,Villamayor de Gállego,2838,50162,Villamayor de Gállego
14706,51,Ceuta,1,Ceuta,84018,51001,Ceuta
14707,51,Ceuta,1,Ceuta,84018,51002,Ceuta
14708,51,Ceuta,1,Ceuta,84018,51003,Ceuta
14709,51,Ceuta,1,Ceuta,84018,51004,Ceuta
14710,51,Ceuta,1,Ceuta,84018,51005,Ceuta
14711,52,Melilla,1,Melilla,80802,52001,Melilla
14712,52,Melilla,1,Melilla,80802,52002,Melilla
14713,52,Melilla,1,Melilla,80802,52003,Melilla
14714,52,Melilla,1,Melilla,80802,52004,Melilla
14715,52,Melilla,1,Melilla,80802,52005,Melilla
14716,52,Melilla,1,Melilla,80802,52006,Melilla

### Se hace la relación de los archivo a traves del código postal y se genera el archivo de faltantes

In [41]:
codigo_postal =pd.merge(cruce_archivos, archivo_2, on=['CP'], how="inner", indicator=True )
df = codigo_postal[(codigo_postal['CP'].notnull()) & (codigo_postal['CP'].isin(archivo_2))]
df
df.to_csv("falta.csv")

### Se agrupa la información por código postal

In [42]:
u = pd.merge(archivo_1, archivo_2, on=['Municipio','CodProvincia','Municipio','CodMunicipio'], how='inner')
u = pd.DataFrame(data=u,columns= ['CP','Municipio','Poblacion'])
suma_poblacion = u['Poblacion'].groupby(u['CP']).sum()

In [43]:
grupo_stadistica = u['Poblacion'].groupby(u['CP']).describe()
print(grupo_stadistica)
union_dataframes= pd.DataFrame(data=grupo_stadistica,columns=["count","top"])
union_dataframes

       count           mean            std       min        25%       50%  \
CP
548      1.0    5233.000000            NaN    5233.0    5233.00    5233.0
1001     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1002     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1003     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1004     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1005     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1006     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1007     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1008     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1009     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1010     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1012     2.0  121865.500000  170211.208833    1508.0   61686.75  121865.5
1013     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1015     1.0  242223.000000            NaN  242223.0  242223.00  242223.0
1110     1.0    1136.000000            NaN    1136.0    1136.00    1136.0
1117     2.0     707.000000     606.697618     278.0     492.50     707.0
1118     3.0     737.666667     659.087501     180.0     374.00     568.0
1120     1.0     739.000000            NaN     739.0     739.00     739.0
1128     3.0     814.333333     291.397209     568.0     653.50     739.0
1129     1.0     739.000000            NaN     739.0     739.00     739.0
1130     1.0    2439.000000            NaN    2439.0    2439.00    2439.0
1138     1.0    1747.000000            NaN    1747.0    1747.00    1747.0
1139     1.0    2439.000000            NaN    2439.0    2439.00    2439.0
1160     1.0    1513.000000            NaN    1513.0    1513.00    1513.0
1165     1.0    1513.000000            NaN    1513.0    1513.00    1513.0
1169     1.0    1513.000000            NaN    1513.0    1513.00    1513.0
1170     1.0    1762.000000            NaN    1762.0    1762.00    1762.0
1171     1.0    1762.000000            NaN    1762.0    1762.00    1762.0
1191     2.0  122647.500000  169105.293828    3072.0   62859.75  122647.5
1192     2.0  121426.000000  170832.755694     629.0   61027.50  121426.0
...      ...            ...            ...       ...        ...       ...
50781    1.0     118.000000            NaN     118.0     118.00     118.0
50782    1.0     119.000000            NaN     119.0     119.00     119.0
50783    1.0      86.000000            NaN      86.0      86.00      86.0
50784    1.0     499.000000            NaN     499.0     499.00     499.0
50786    1.0    1173.000000            NaN    1173.0    1173.00    1173.0
50790    1.0    1133.000000            NaN    1133.0    1133.00    1133.0
50791    1.0    1133.000000            NaN    1133.0    1133.00    1133.0
50792    1.0     465.000000            NaN     465.0     465.00     465.0
50793    1.0    1255.000000            NaN    1255.0    1255.00    1255.0
50794    1.0    1064.000000            NaN    1064.0    1064.00    1064.0
50795    1.0     384.000000            NaN     384.0     384.00     384.0
50800    1.0    7738.000000            NaN    7738.0    7738.00    7738.0
50810    1.0    7738.000000            NaN    7738.0    7738.00    7738.0
50820    1.0  679624.000000            NaN  679624.0  679624.00  679624.0
50830    3.0    6505.333333    1665.197986    4611.0    5889.00    7167.0
50840    1.0    3158.000000            NaN    3158.0    3158.00    3158.0
50850    2.0     163.000000      55.154329     124.0     143.50     163.0
51001    1.0   84018.000000            NaN   84018.0   84018.00   84018.0
51002    1.0   84018.000000            NaN   84018.0   84018.00   84018.0
51003    1.0   84018.000000            NaN   84018.0   84018.00   84018.0
51004    1.0   84018.000000            NaN   84018.0   84018.00   84018.0
51005    1.0   84018.000000            NaN   84018.0   84018.00   84018.0
52001    1.0   80802.000000            NaN   80802.0   80802.00   80802.0
52002    1.0   80802.000000            NaN   80802.0   80802.00   80802.0
52003    1.0   80802.000000            NaN   80802.0   80802.00   80802.0
52004    1.0   80802.000000            NaN   80802.0   80802.00   80802.0
52005    1.0   80802.000000            NaN   80802.0   80802.00   80802.0
52006    1.0   80802.000000            NaN   80802.0   80802.00   80802.0
73820    1.0   24672.000000            NaN   24672.0   24672.00   24672.0
90007    1.0  679624.000000            NaN  679624.0  679624.00  679624.0

             75%       max
CP
548      5233.00    5233.0
1001   242223.00  242223.0
1002   242223.00  242223.0
1003   242223.00  242223.0
1004   242223.00  242223.0
1005   242223.00  242223.0
1006   242223.00  242223.0
1007   242223.00  242223.0
1008   242223.00  242223.0
1009   242223.00  242223.0
1010   242223.00  242223.0
1012   182044.25  242223.0
1013   242223.00  242223.0
1015   242223.00  242223.0
1110     1136.00    1136.0
1117      921.50    1136.0
1118     1016.50    1465.0
1120      739.00     739.0
1128      937.50    1136.0
1129      739.00     739.0
1130     2439.00    2439.0
1138     1747.00    1747.0
1139     2439.00    2439.0
1160     1513.00    1513.0
1165     1513.00    1513.0
1169     1513.00    1513.0
1170     1762.00    1762.0
1171     1762.00    1762.0
1191   182435.25  242223.0
1192   181824.50  242223.0
...          ...       ...
50781     118.00     118.0
50782     119.00     119.0
50783      86.00      86.0
50784     499.00     499.0
50786    1173.00    1173.0
50790    1133.00    1133.0
50791    1133.00    1133.0
50792     465.00     465.0
50793    1255.00    1255.0
50794    1064.00    1064.0
50795     384.00     384.0
50800    7738.00    7738.0
50810    7738.00    7738.0
50820  679624.00  679624.0
50830    7452.50    7738.0
50840    3158.00    3158.0
50850     182.50     202.0
51001   84018.00   84018.0
51002   84018.00   84018.0
51003   84018.00   84018.0
51004   84018.00   84018.0
51005   84018.00   84018.0
52001   80802.00   80802.0
52002   80802.00   80802.0
52003   80802.00   80802.0
52004   80802.00   80802.0
52005   80802.00   80802.0
52006   80802.00   80802.0
73820   24672.00   24672.0
90007  679624.00  679624.0

[10993 rows x 8 columns]

       count  top
CP
548      1.0  NaN
1001     1.0  NaN
1002     1.0  NaN
1003     1.0  NaN
1004     1.0  NaN
1005     1.0  NaN
1006     1.0  NaN
1007     1.0  NaN
1008     1.0  NaN
1009     1.0  NaN
1010     1.0  NaN
1012     2.0  NaN
1013     1.0  NaN
1015     1.0  NaN
1110     1.0  NaN
1117     2.0  NaN
1118     3.0  NaN
1120     1.0  NaN
1128     3.0  NaN
1129     1.0  NaN
1130     1.0  NaN
1138     1.0  NaN
1139     1.0  NaN
1160     1.0  NaN
1165     1.0  NaN
1169     1.0  NaN
1170     1.0  NaN
1171     1.0  NaN
1191     2.0  NaN
1192     2.0  NaN
...      ...  ...
50781    1.0  NaN
50782    1.0  NaN
50783    1.0  NaN
50784    1.0  NaN
50786    1.0  NaN
50790    1.0  NaN
50791    1.0  NaN
50792    1.0  NaN
50793    1.0  NaN
50794    1.0  NaN
50795    1.0  NaN
50800    1.0  NaN
50810    1.0  NaN
50820    1.0  NaN
50830    3.0  NaN
50840    1.0  NaN
50850    2.0  NaN
51001    1.0  NaN
51002    1.0  NaN
51003    1.0  NaN
51004    1.0  NaN
51005    1.0  NaN
52001    1.0  NaN
52002    1.0  NaN
52003    1.0  NaN
52004    1.0  NaN
52005    1.0  NaN
52006    1.0  NaN
73820    1.0  NaN
90007    1.0  NaN

[10993 rows x 2 columns]

In [28]:
#Metodo para generar union entre suma_poblacion y union_dataframes
ultima_union=pd.concat([suma_poblacion, union_dataframes], axis=1)
#Metodo para establecer cuales columnas se deben mostrar
ultima_union=pd.DataFrame(data=ultima_union, columns=["count","Poblacion","top"])
#Renonanmbrar las columnas para hacer mas entendible la informacion obtenida
ultima_union.rename(columns={'CP_y': 'Codigo Postal','count': 'Numero De Municipios','Poblacion': 'Poblacion Total','top': 'Provincia'}, inplace=True)
ultima_union

       Numero De Municipios  Poblacion Total  Provincia
CP
548                     1.0             5233        NaN
1001                    1.0           242223        NaN
1002                    1.0           242223        NaN
1003                    1.0           242223        NaN
1004                    1.0           242223        NaN
1005                    1.0           242223        NaN
1006                    1.0           242223        NaN
1007                    1.0           242223        NaN
1008                    1.0           242223        NaN
1009                    1.0           242223        NaN
1010                    1.0           242223        NaN
1012                    2.0           243731        NaN
1013                    1.0           242223        NaN
1015                    1.0           242223        NaN
1110                    1.0             1136        NaN
1117                    2.0             1414        NaN
1118                    3.0             2213        NaN
1120                    1.0              739        NaN
1128                    3.0             2443        NaN
1129                    1.0              739        NaN
1130                    1.0             2439        NaN
1138                    1.0             1747        NaN
1139                    1.0             2439        NaN
1160                    1.0             1513        NaN
1165                    1.0             1513        NaN
1169                    1.0             1513        NaN
1170                    1.0             1762        NaN
1171                    1.0             1762        NaN
1191                    2.0           245295        NaN
1192                    2.0           242852        NaN
...                     ...              ...        ...
50781                   1.0              118        NaN
50782                   1.0              119        NaN
50783                   1.0               86        NaN
50784                   1.0              499        NaN
50786                   1.0             1173        NaN
50790                   1.0             1133        NaN
50791                   1.0             1133        NaN
50792                   1.0              465        NaN
50793                   1.0             1255        NaN
50794                   1.0             1064        NaN
50795                   1.0              384        NaN
50800                   1.0             7738        NaN
50810                   1.0             7738        NaN
50820                   1.0           679624        NaN
50830                   3.0            19516        NaN
50840                   1.0             3158        NaN
50850                   2.0              326        NaN
51001                   1.0            84018        NaN
51002                   1.0            84018        NaN
51003                   1.0            84018        NaN
51004                   1.0            84018        NaN
51005                   1.0            84018        NaN
52001                   1.0            80802        NaN
52002                   1.0            80802        NaN
52003                   1.0            80802        NaN
52004                   1.0            80802        NaN
52005                   1.0            80802        NaN
52006                   1.0            80802        NaN
73820                   1.0            24672        NaN
90007                   1.0           679624        NaN

[10993 rows x 3 columns]